.App {
  text-align: center;
}

.navLinks {
  display: flex;
  padding: 24px;
  min-height: 10vh;

  a {
    margin-right: 24px;
    color: white;
    font-weight: bold;
    font-size: calc(8px + 2vmin);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
